@import '../../variables.scss';

.Documents {
    margin-top: 20rem;
    min-height: 100vh;
    padding-bottom: 20rem;

    color: $color-white;

    @media screen and (max-width: 1000px) {
        margin-top: 20rem;
        padding-bottom: 20rem;
    }

    &__name {
        font-size: 2rem;
        text-transform: uppercase;
    }
    &__heading {
        margin-bottom: 6rem;
    }
    &__list {
        width: 50rem;

        display: flex;
        flex-direction: column;

        @media screen and (max-width: 500px) {
            width: 40rem;
        }
        @media screen and (max-width: 330px) {
            width: 30rem;
        }
    }
    a {
        text-decoration: none;
    }
    &__image {
        width: 8rem;
        height: 8rem;
        margin-right: 2rem;

        @media screen and (max-width: 1000px) {
            width: 6rem;
            height: 6rem;
        }
    }
    &__document {
        padding-top: 2rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
        border: 1px solid transparent;
        cursor: pointer;

        color: $color-white;

        display: flex;
        align-items: center;

        @media screen and (max-width: 500px) {
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0rem;
        }

        &:hover {
            border: 1px solid $color-white;
        }
    }
}