@import '../../../../variables.scss';

$bp-mobile: 900px;
$mobile-timeline-height: 60rem;
$mobile-timeline-top: 20rem;
$padding-left: 5%;

.ThisYear {
    background-color: $color-blue-dark;
    height: 100vh;

    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1000px) {
        height: 80rem;
    }
    @media screen and (max-width: $bp-mobile) {
        height: 90rem;
    }

    &__timeAxis {
        position: absolute;
        left: 0;
        bottom: 2rem;
    }
    &__background {
        width: 100%;
        height: 100%;

        position: absolute;
        opacity: .2;
        top: 0;
        left: 0;

        @media screen and (max-width: $bp-mobile) {
            height: $mobile-timeline-height;
           
            display: flex;
            flex-direction: column;

            top: $mobile-timeline-top;
        }
    }
    &__imageDiv {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;

        @media screen and (max-width: $bp-mobile) {
            display: flex;

            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            
            &:first-child {
                border-bottom: 4px solid $color-white;
            }
        }
    }
    &__backgroundImage {
        position: absolute;
        object-fit: cover;
    }
    &__content {
       width: 100%;
       height: 100%;
       margin-left: auto;
       margin-right: auto;

       position: relative;
    }
    &__heading {
        padding-top: 2rem;
        margin-left: $padding-left;

        @media screen and (max-width: 500px) {
            font-size: 4rem;
        }
    }
    &__descriptions {
        margin-top: 2rem;
        height: 100%;
        width: 100%;

        position: absolute;

        @media screen and (max-width: $bp-mobile) {
            height: $mobile-timeline-height;
            
            top: $mobile-timeline-top;
        }
    }
    &__description {
        width: max-content;
        height: 10rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        position: absolute;
        
        &__img {
            width: 8rem;
            height: 8rem;
        }
        &__time {
            font-size: 2rem;
        }
    }
    &__dynamic {
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
    }
    &__paragraph {
        margin-left: $padding-left;
    }
}