.GameLogo {
    &_minecraft {
        width: 7rem;
        height: 7rem;
    }
    &_valorant {
        width: 7rem;
        height: 7rem;
    }
    &_lol {
        width: 14rem;
        height: 8rem;   
    }
    &_counter {
        width: 10rem;
        height: 8rem;
    }
    &_rocket {
        width: 13rem;
        height: 8rem;
    }
}