@import '../../variables.scss';

.Heading1 {
    font-size: 6rem;
    text-shadow: 3px 1px 1px $color-blue;

    @media screen and (max-width: 500px) {
        font-size: 4rem;    
    }
}
.Heading2 {
    font-size: 4rem;
    text-shadow: 3px 1px 1px $color-blue;

    @media screen and (max-width: 500px) {
        font-size: 3rem;
    }
}
.Heading3 {
    font-size: 2.5rem;
    text-shadow: 3px 1px 1px $color-blue;

    @media screen and (max-width: 500px) {
        font-size: 2rem;
    }
}
.Paragraph {
    font-size: 2.4rem;
}
.HeadingMain {
    font-size: 8rem;

    text-shadow: 4px 0px 0px $color-blue-dark-1;

    @media screen and (max-width: 900px) {
        font-size: 7rem;
    }
    @media screen and (max-width: 800px) {
        width: 90%;

        font-size: 6rem;
    }
    @media screen and (max-width: 500px) {
        font-size: 5rem;
    }
    @media screen and (max-width: 420px) {
        font-size: 4rem;
    }
    @media screen and (max-width: 330px) {
        font-size: 3.3rem;
    }
   
}