@import '../../../../variables.scss';

.Header {
    width: 100vw;
    min-height: 80rem;
    height: 100vh;

    position: relative;

    @media screen and (max-width: 1100px) {
       min-height: unset;
       height: 80rem;
    }
    @media screen and (max-width: 400px) {
        height: 70rem;
    }

    &__logo {
        width: 20rem;
        height: 20rem;

        @media screen and (max-width: 1000px) {
            width: 15rem;
            height: 15rem;
        }
        @media screen and (max-width: 900px) {
            width: 10rem;
            height: 10rem;
        }
    }
    &__gameLogos {
        display: flex;

        position: absolute;
        right: 6rem;
        bottom: 6rem;

        @media screen and (max-width: 1100px) {
            bottom: 4rem;
        }
        @media screen and (max-width: 1000px) {
           display: none;
        }
      
        &__logo {
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
    &__heading {
       
    }
    &__subheading {
        font-size: 5rem;
        text-shadow: 4px 0px 0px $color-blue-dark-1;

        @media screen and (max-width: 500px) {
            font-size: 3rem;
        }
    }
    &__cta {
        text-transform: uppercase;
        font-weight: bold;

        @media screen and (max-width: 1000px) {
            width: 40rem !important;
        }
        @media screen and (max-width: 500px) {
            width: 40rem !important;
        }
        @media screen and (max-width: 420px) {
            padding-left: 2rem;
            padding-right: 2rem;
            width: 30rem !important;
        }
        &__logo {
            width: 6rem;
            height: 4.5rem;

            opacity: .2;
        }
    }
    &__content {
        position: absolute;
        top: 20rem;

        @media screen and (max-width: 1000px) {
            top: 15rem;
        }
    }
    &__paragraph {
        width: 80rem;
        margin-top: 6rem;
        margin-bottom: 6rem;

        @media screen and (max-width: 800px) {
           width: 90%;
        }
        @media screen and (max-width: 700px) {
            margin-top: 4rem;
            margin-bottom: 4rem;
            font-size: 2.4rem;
        }
    }
    &__countDown {
       margin-right: 2rem;
       font-size: 2rem;
    }
    &__topRight {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 4rem;
        top: 4rem;

        @media screen and (max-width: 1000px) {
            top: 2rem;
            right: 2rem;
        }
        @media screen and (max-width: 900px) {
            right: unset;
            left: 5rem;
        }
    }
}