@import '../../../../variables.scss';

.TextInput {
    height: 4rem;
    width: 100%;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    color: white;
    outline: 1px solid $color-gray;
    border: none;
    text-shadow: none;
    font-weight: bold;

    font-size: 1.8rem;
    &:focus {
        outline: 2px solid $color-orange;
    }
}