@import '../../variables.scss';

.Sponsors {
    margin-top: 20rem;
    min-height: 100vh;
    padding-bottom: 20rem;

    color: $color-white;

    @media screen and (max-width: 1000px) {
        margin-top: 15rem;
        padding-bottom: 15rem;
    }

    &__sponsor {
        margin-top: 4rem;

        &__logo {
            width: 40rem;
            height: auto;

            @media screen and (max-width: 500px) {
                width: 30rem;
            }
        }
    }
}