@import '../../variables.scss';

.Sponsors {
    margin-top: 20rem;
    min-height: 100vh;
    padding-bottom: 20rem;

    color: $color-white;

    @media screen and (max-width: 1000px) {
        margin-top: 15rem;
        padding-bottom: 15rem;
    }
    @media screen and (max-width: 600px) {
        margin-top: 5rem;
        padding-bottom: 10rem;
    }

    &__sponsor {
        margin-top: 4rem;

        &__logo {
            width: 40rem;
            height: auto;

            @media screen and (max-width: 500px) {
                width: 30rem;
            }
        }
    }

    &__packages {
        width: 100%;
        margin-top: 10rem;
        display: block;

        @media screen and (max-width: 600px) {
            margin-top: 5rem;
        }
    }

    &__contact {
        font-size: 3rem;
        color: $color-white;

        a {
            color: $color-white;
        }
    }
}