@import '../../../../variables.scss';

.About {
    padding-top: 5rem;
    padding-bottom: 5rem;

    &__subheading {
        margin-top: 4rem;
    }
    &__subsubheading {
        margin-top: 2rem;
    }
    &__gameSelect {
        display: flex;
        margin-bottom: 2rem;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        & > *:not(:last-child) {
            margin-right: 3rem;
        }
        & > * {
            cursor: pointer;

            &:hover {
                transform: translateY(-2px);
            }
            &:not(.active) {
                color: $color-gray;
                text-shadow: none;
            }
        }
        & .active {
            border-bottom: 2px solid $color-white;

            @media screen and (max-width: 900px) {
               border: none;
            }
        }
    }
    &__paragraph {
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
}