//COLORS
$color-blue-green: #09fefe;
$color-blue-dark: #081623;
$color-blue-dark-1: #0e2a42;
$color-yellow: #eff208;
$color-orange: #ee9602;
$color-blue: #1669d1;
$color-gray: #7a88a2;

$color-white: white;

//FONTS
$font-main: 'PT Sans', sans-serif;